* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
.arrow {
  width: 3rem;
  position: absolute;
  top: 0;
  left: 4px;
  margin-top: 2px;
}
.arrow a i{
   text-decoration: none;
  text-transform: capitalize;
  color:#8083eb ;
 font-size: 2rem;
 
}
.name{
  position: absolute;
  top: 0;
  left:11rem;
  color: #8083eb;
  font-weight: bold;
  font-size: 1.5rem;
}
.name span{
  color:#515151 ;
}
.container {
  background-color: #eef8fd;
  display: flex;
  justify-content: center;
  flex-direction: row;
  place-items: center;
  height:500px;
}
.formLeft {
  margin-left:2rem;
  place-items: center;
}

.formRight img {
  width: 20rem;
  height: 30rem;
  margin-left: 2rem;
}

.forms h1 {
  color: #515151;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 2rem;
  
}
.forms h1 span {
  color: #8083eb;
  text-transform: capitalize;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inputTaker {
  height: 1.5rem;
  width: 22rem;
  border: none;
  background-color: #ffffff;
  outline-color: #8083eb;
  border-radius: 5px;
  color: #8083eb;
  font-weight: bold;
  padding: 3px;
  text-transform: capitalize;
  box-shadow: 2px 0px 35px -5px rgba(0, 0, 0, 0.75);
}
.error{
    color:red;
    font-weight: bold;
    text-transform: capitalize;
   
}
.para {
  color: #515151;
  font-weight: bold;
  text-transform: uppercase;
}
.date {
  margin-left: 5rem;
  color: #515151;
  font-weight: bold;
  display: none;
}
.dateField {
  outline-color: #8083eb;
  color: #8083eb;
  font-weight: bold;
}

.radio label {
  color: #515151;
  font-weight: bold;
}
.btn{
  margin-left: 8rem;
}
.submits{
  height: 2rem;
  width: 8rem;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: bold;
  background-color: #8083eb;
  border-color: #8083eb;
  margin-right: 3rem;
  color: white;
}


.footer {
  /* height: 11.5rem; */
  height: 195px;
  
  background-color: #7f82eb;
  position: relative;
}
.text{
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom:25px;

}
.text p{
  color: white;
 margin-left: 35rem;
 text-transform: capitalize;
}
.text p i{
  color: red;
}
.copyright_line {
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.copyright_line p {
  color: white;
  margin-left: 35rem;
  text-transform: capitalize;
}
.copyright_line p i{
  color: #515151;
}

.container::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #e4eef3;
  clip-path: circle(22.2% at 0 0);
}
.container::after{
  content: "";
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color:#e4eef3 ;
  /* clip-path: circle(34.0% at 100% 30%); */
  clip-path: ellipse(22% 40% at 100% 36%);
  

}
